<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>23 - JSP Formularios</display-name>
    <servlet>
        <servlet-name>registro</servlet-name>
        <servlet-class>com.cursosdedesarrollo.RegistroServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registro</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editar</servlet-name>
        <servlet-class>com.cursosdedesarrollo.EditarPerfilServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editar</servlet-name>
        <url-pattern>/editar</url-pattern>
    </servlet-mapping>
</web-app>
